#Table{
    width: 100%;
    background-color: white;
    box-shadow: 0 0 25px rgba(128, 125, 125, 0.116);
    border-radius: 8px;
    padding: .3em 0;

    ul{
        list-style: none;
        div{
            border-bottom: 2px solid rgba(0, 0, 0, 0.158);
        }
        li a,div{
            text-decoration: none;
            color: rgb(58, 58, 58);
            display: grid;
            grid-template-columns: 1fr .4fr .4fr;
            padding: .6em 1em;

            p{
                text-align: center;
            }
            p:nth-child(1){
                text-align: left;
            }
        }   
        
        div p {
            font-weight: bolder;
        }
        li:nth-child(odd){
            background-color: rgb(243, 243, 243);
        }
        li a:hover{
            cursor: pointer;
            background-color: var(--accent);
            color: white;
        }
    }
}