#CredentialViewPage_Wrapper{
    display: flex;
    gap: 25px;
    #CredentialView_Container{
        flex-grow: 1;
        #CredentialViewingPanel__Container{
            position: relative;
            #FullView__Container{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        
    }
    #CredentialViewSideBar_Container{
        #CredentialDetails__Container{
            width: 400px;
            padding: 1em;
            #ListofDetails{
                list-style: none;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                li{
                    .Details__Title{
                        color: rgb(42, 42, 42);
                        margin-bottom: 10px;
                    } 
                    .Details__Title::after{
                        content: " :";
                    } 
                    .Details__Content{
                        overflow: hidden;
                        color: rgb(42, 42, 42);
                    }
                }
            }
            #SenderReciever__Container{
                a{
                    text-decoration: none;
                }
                margin-bottom: 20px;
            }
            #Button__Wrapper{
                margin-top: 15px;
                display: grid;
                gap: 15px;
                grid-template-columns: .40fr .60fr;
                justify-content: start;
            }
        }
    }
}


.Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

#FullViewModal{
    display: flex;
    gap: 25px;
    
    #FullView__Container{
        max-height: 90vh;
        overflow-y: scroll;
        width: 80vw;
        #FullView__Img{
            width: 100%;
        }
    }
    #FullView__Container::-webkit-scrollbar {
        width: 0px;
    }
    #FullView__Buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }
}

.CredentialViewingPanel__Image{
    width: 100%;
}
.CredentialViewingPanel__FullImage{
    height: 100%;
}
#uploadDocument__ViewUploaded__Container__Footer{
    border-top: 2px solid rgb(192, 192, 192);
    margin-top: 10px;
    width: 100%;
    padding: 20px 1em ;
    display: flex;
    align-items: center;
    #uploadDocument__ViewUploaded__Container__Footer__Image{
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 25px;
        p{
            color: rgb(66, 66, 66);
        }
        #uploadDocument__ViewUploaded__Container__Footer__Image__Logo{
            height: 80px;
            width: 80px;
        }
        div{
            
            #uploadDocument__ViewUploaded__Container__Footer__Image__Wordmark{
                height: 30px;
                margin-bottom: 5px;
            }
        }
    }
    #uploadDocument__ViewUploaded__Container__Footer__QR{
        border-radius: 8px;
        background-color: rgb(240, 240, 240);
        height: 80px;
        width: 80px;
        padding: .5em;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}


#ShareModal{
    display: flex;
    gap: 25px;
    z-index: 99;
    .ShareModal__Title{
        padding-top: 10px;
        border-bottom: 1px solid rgb(208, 208, 208);
        padding-bottom: 15px;
    }
    #ShareModal__Container{
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        #GenerateAccessCode{
            margin-top: 10px;
            #GenerateAccessCode__Add{
                display: flex;
                align-items: center;
                h6{
                    flex-grow: 1;
                }
            }
            #LinkShare__Type{
                list-style: none;
                display: flex;
                gap: 10px;
                flex-direction: column;
                li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    p{
                        flex-grow: 1;
                    }
                }
            }
        }
    }
    #LinkShare__Type{
        flex-grow: 1;
    }
    #MakePublic__Container{
        border-top: 1px rgba(0, 0, 0, 0.12) solid;
        padding-top: 1em;
        display: flex;
        #MakePublic__Title{
            flex-grow: 1;
        }
        .css-j204z7-MuiFormControlLabel-root{
            margin-right: 0px;
        }
    }
    #ShareModal__Buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}