#CredentialViewPage_Wrapper{
    display: flex;
    gap: 25px;
    #CredentialView_Container{
        flex-grow: 1;
        #CredentialViewingPanel__Container{
            min-height: 600px;
            position: relative;
            #FullView__Container{
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        
    }
    #CredentialViewSideBar_Container{
        #CredentialDetails__Container{
            width: 400px;
            padding: 1em;
            #ListofDetails{
                list-style: none;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                li{
                    .Details__Title{
                        color: rgb(42, 42, 42);
                        margin-bottom: 10px;
                    } 
                    .Details__Title::after{
                        content: " :";
                    } 
                    .Details__Content{
                        overflow: hidden;
                        color: rgb(42, 42, 42);
                    }
                }
            }
            #SenderReciever__Container{
                a{
                    text-decoration: none;
                }
                margin-bottom: 20px;
            }
            #Button__Wrapper{
                margin-top: 15px;
                display: flex;
                gap: 15px;
                justify-content: start;
            }
        }
    }
}




#FullViewModal{
    display: flex;
    gap: 25px;
    #FullView__Container{
        width: 80vw;
        height: 80vh;
       
    }
    #FullView__Buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
