#Signup{
    background-color: var(--dark2);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    max-width: 1920px;
    #Container_Signup{
        width: 100%;
        margin: auto;
        padding: 1% .8%;;
        #Container_Signup_Content{
            background:url('../../images//Resources/pattern.png') center;
            background-size: Cover;
            padding: 3em;
            border-radius: 1em;
            color: rgb(221, 221, 221);
            width: 70%;
            
            #Holder_GoBack_Button{
                display: flex;
                text-decoration: none;
                color: rgb(214, 213, 213);
                margin-bottom: 30px;

                gap: 10px;
                svg{
                    height: 25px;
                    fill: white;
                }
            }
            #Container_Welcome{
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                h2{
                    margin-right: 25px;
                }
                #LogoImg{
                    height: 70px;
                }
                
            }
            h6{
                line-height:40px;
                width: 80%;
                margin-bottom: 50px;
            }
            #Certificate{
                width: 100%;
                border-radius: 50px;
            }
            
        }
        #Container_Signup_Panel{
            position: fixed;
            top: 0;
            right: 0;
            width: 40%;
            height: 100%;
            background-color: var(--light2);
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.332);
            display: flex;
            align-items: center;
            justify-content: center;



            #RoleSelection{
                padding-top: 25px;
                display: flex;
                gap: 40px;
                justify-content: center;
                .RoleSelection__Container:hover{
                    box-shadow: 0 0 15px #e1ebf1;

                }
                .RoleSelection__Container{
                    cursor: pointer;
                    padding: 1em 2em;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    background-color: #e1ecf2;
                    color: #017CC9;
                    .RoleSelection__Icon{
                        font-size: 70px;
                    }
                }
            }
            #Container_Signup_Form{
                width: 90%;
                h3{
                    text-align: center;
                    margin-bottom: 10px;
                    color: var(--accent);
                }
                h5{
                    text-align: center;
                    margin: 20px 20px 40px;
                    span{
                        color: var(--accent);
                    }
                }
                #LabelHolder{
                    margin-bottom: 25px;
                }
                #Wrapper_Name{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 25px;
                }
                #Submit{
                    display: block;
                    text-align: center;
                    width: 100%;
                    padding: .7em 1em ;
                    background-color: var(--accent);
                    border: 1px solid rgba(128, 128, 128, 0.168);
                    border: none;
                    border-radius: .5em;
                    color: white;
                    font-size: 20px;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.027);
                }
                #Submit:hover{
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.079);
                    border: 1px solid gray;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    .Form__2__Inputs{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 25px;
                    }
                }
                .Active{
                    display: block;
                }
                .Inactive{
                    display: none;
                }
                #Form1{
                    img{
                        width: 40%;
                        display: block;
                        margin: 0 auto 50px auto;
                    }
                    h5{
                        text-align: center;
                        margin-bottom: 25px;
                        color: rgb(66, 66, 66);
                    }
                }
            }
        }
    }
}
#MetamaskNote{
    margin-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: rgb(72, 72, 72);
    opacity: .7;
    img{
        width: 20px;
        height: 20px;
    }
}

#MetamaskNote:hover{
    opacity: 1;
}
.TermsNCondition{
    position: relative;
    label{
        display: flex;
        justify-content: center;
        gap: 5px;
        cursor: pointer;
    }
    input{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
    }
    .TermsNCondition__Clicker{
        color: var(--accent);
    }
}
.activeTermsNCondition{
    svg{
        color: var(--accent);
    }
}

.TermsNCondition__Modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 80vh;
    width: 80vw;
    padding: 1em;
    .TermsNCondition__Title{
        text-align: center;
        color: var(--accent);
        margin-bottom: 10px;
    }
    .TermsNCondition__SubTitle{
        text-align: center;
        width: 70%;
        color: #555;
        opacity: .7;
        margin: auto auto 35px auto;
    }
    .TermsNCondition__Container{
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 45px 2em;
        li{
            .TermsNCondition__TitleList{
                color: #555;
                opacity: .7; 
            }
            p{
                margin-top: 10px;
            }
        }
        ::-webkit-scrollbar {
            width: 10px;
        }
          /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
          /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #888; 
        }
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #555; 
        }
    }

}