#AdminDasboard{
    background-color: red($color: #000000);
    #DashboardAdmin__Content{
        display: flex;
        flex-direction: column;
        gap: 25px;
        #DashboardInfo__Container{
            display: grid;
            gap: 25px;
            grid-template-columns: repeat(3,minmax(auto,250px));
            .DashboardInfo__Card{
                color: #666666;
                .HighlightText{
                    color: #333333;
                }
                #Icon{
                    color: #333333;
                    font-size: 70px;
                }
                div{
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
        #DashboardAnalytics__Container{
           
            img{
                width: 90%;
            }
        }
    }
    #DashboardAdmin__SideContent{
        display: flex;
        justify-content: end;
        #MemberList{
            width: 90%;
            #MemberList_Wrapper{
                margin: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                a{
                    text-decoration: none;
                }
            }
        }
    }
    
}