#Navigation{
    background-color: white;
    padding-top: 1em;
    min-width: 50px;
    z-index: 3;
    z-index:  9;
    #Navigation__Sticky{
        position: sticky;
        top: 25px;
        #Logo{
            width: 100%;
            
            img{
                width: 55%;
                margin: 0 22.5% 0 22.5%;
            }
        }
        #Button_Holder{
            margin-top: 40px;
            width: 100%;
            ul{
                width: 55%;
                margin: 0 22.5% 0 22.5%;
    
                li{
                    list-style:  none;
                    margin-bottom: 20%;
                    border-radius: 5px;
                    position: relative;
                    .Svg{
                        width: 60%;
                        margin: 20% 20% 10%;
                        fill: rgba($color: #000000, $alpha: .4);
                    }
                    span{
                        visibility: hidden;
                        position: absolute;
                        top:50%;
                        left: calc(100% + 5px);
                        transform: translate(0,-50%);
                        background-color: #000000de;
                        border-radius: 8px;
                        padding: .2em 1em;
                        color: white;
                        font-size: 16px;
                    }
                }
                li:hover{
                    background-color: gray;
                }
                li:hover .Svg{
                    fill: white;
                }
                li:hover span{
                    visibility: visible;
                }
    
                .active{
                    background-color: var(--accent);
                    svg{
                        fill: white;
                    }
                }
                
            }
        }
    }
}