#MemberCard{
    position: relative;
    width: 250px;
    cursor: pointer;
    #MemberCard__Container{
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.075);
        padding: 2.7em 1em;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #MemberCard__Avatar{
            width: 70px;
            height: 70px;
        }
        #MemberCard__Text{
            text-align: center;
            #MemberCard__Name{
                font-weight: 600;
                margin-bottom: 15px;
            }
            #MemberCardID__InstitutionID{
                padding: .5em;
                border-radius: 8px;
                background-color: rgb(226, 226, 226);
                display: inline;            
            }
            #MemberCardID__InstitutionID::before{
                content: "#";
            }
        }
    }
    #MemberCard__Container.Buttons{
        padding: 1.5em 1em 4.5em;
    }
    .MemberCard__MoreButton{
        position: absolute;
        top: .5em;
        right: .5em;
        opacity: .7;
    }
    .MemberCard__MoreButton:hover{
        opacity: 1;
    }
    #MemberCardID__Buttons{
        position: absolute;
        left: 50%;
        bottom: 1em;
        padding: 1em 0 0;
        transform: translate(-50%,0);
        width: calc(100% - 2em);
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        button:nth-child(1){
            background-color: white;
        }
    }
}
#MemberCardModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
    img{
        width: 40vw;
    }
}