#ShareModal{
    display: flex;
    gap: 25px;
    #ShareModal__Container{
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    #LinkShare__Type{
        flex-grow: 1;
    }
    #MakePublic__Container{
        border-top: 1px rgba(0, 0, 0, 0.12) solid;
        padding-top: 1em;
        display: flex;
        #MakePublic__Title{
            flex-grow: 1;
        }
        .css-j204z7-MuiFormControlLabel-root{
            margin-right: 0px;
        }
    }
    #ShareModal__Buttons{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}