    #UserInfo{
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.058);
        border-radius: 8px;
        display: flex;
        padding:  1.5em;
        gap: 40px;
        align-items: center;
        #UserInfo__Avatar{
            width: 80px;
            height: 80px;

        }
    }
    #Category__Content__File{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
        .MemberProofImage__View{
            width: 100%;
            max-height: 600px;
            overflow-y: scroll;
        }
        .MemberProofImage__2{
            cursor: pointer;
            color: gray;
            background-color: white;
            border-radius: 8px;
            display: flex;
            padding: 1em;
            gap: 5px;
            align-items: center;
            justify-content: center;
            border-bottom: 10px;
            transition: all .3s ease-in-out;
        }
        .MemberProofImage__2:hover{
            color: rgb(52, 52, 52);
        }
        input{
            display: none;
        }
        #Category__Content__Button:hover{
            background-color: #e7ecee;
        }
        #Category__Content__Button{
            cursor: pointer;
            display: block;
            width: 400px;
            display: flex;
            gap: 15px;
            flex-direction: column;
            align-items: center;
            padding: 3em;
            border-radius: 8px;
            border: 2px dashed  var(--accent);
            img{
                width: 20%;
            }
            p{
                opacity: .6;
            }
            h5{
                color: var(--accent);
            }
        }
    }