#CredentialView{
    display: grid;  
    gap: 2%;
    min-height: 500px;
    
    .Container_CredentialView{
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.048);
        padding: .5em;
        position: relative;
        min-height: 55px;
        .ContainerButton{
            position: absolute;
            right: .5em;
            top: .5em;
            display: flex;
            align-items: center;
            justify-content: center;
    
            
            svg{
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.192);
                border-radius: 8px;
                background-color: white;
                padding: .5em;
                width: 40px;
                height: 40px;
                cursor: pointer;
                opacity: .8;
                margin-left: 15px;
            }
            svg:hover{
                opacity: 1;
            }
            
        }
        .Inactive_Container_FullView_Credential{
            display: none;
        }
        .Active_Container_FullView_Credential{
            display: block;
        }
        #Container_FullView_Credential{
            position: fixed;
            top: 0;
            left: 0; 
            width: 100%;
            height: 100%;
            z-index: 5;

            #Container_Background{
                background-color: rgba(0, 0, 0, 0.438);
                position: absolute;
                width: 100%;
                height: 100%;
            }
            #holder_FullView_Credential{
                position: absolute;
                width: 90%;
                height: 90%;
                border-radius: 20px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 6;
                #Container_FullView_Credential{
                    background-color: white;
                    width: 90%;
                    border-radius: 12px;
                }
                #Full{
                    z-index: 8;
                }
            }
        }
    }
    #Container_Information_Credential{
        h3{
            margin: 10px 0;
        }
        .Title_Information_Credential{
            margin-bottom: 5px;
        }
        .Content_Information_Credential{
            margin-bottom: 15px;
        }
        .Container_userInvolve{
            background-color: white;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.103);
            border-radius: 12px;
            margin-bottom: 20px;
            a{
                color: black;

                padding: 1em;
                display: flex;
                text-decoration: none;
                img{
                    height: 40px;
                    border-radius: 100px;
                    margin-right: 10px;
                }
            }
            
        }
        #Container_Button_Details{
            display: flex;
            gap: 15px;
        }
    }
    
}
.DetailsActive{
    grid-template-columns: 73% 25%;
}
.DetailsInactive{
    grid-template-columns: 95% 3%;
    #Holder_Details_CredentialView{
        display: none;
    }
}