#Events{
    .Navigation_Event{
        button{
            background: none;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 400;
            margin-right: 30px;
            font-size: 15px;
        }
        .Selected{
            padding: .5em 1em;
            background-color: var(--accent);
            font-weight: 700;
            color: white;
        }
        span{
            padding: .5em 0;
            display: inline-block;
            color: gray;
            background-color: gray;
            height: 100%;
            width: 3px;
            margin-right: 30px;
            border-radius: 25px;
            opacity: .2;
        }
    }    
}

#Panel_Events{
    margin-top: 20px;
    width: 100%;


    #Container_FeaturedEvents{

        #Container_Ads_FeaturedEvents{
            display: grid;
            grid-template-columns: 1fr .4fr;
            gap: 25px;
            #Slider_FeaturedEvents{
                overflow: hidden;
                border-radius: 10px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            #Ads_FeaturedEvents{
                overflow: hidden;
                border-radius: 10px;
                background-color: gray;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        #Container_Upcoming_FeaturedEvents{
            margin-top: 25px; 
            h5{
                margin-bottom: 20px;
            }
            #Wrapper_Upcoming_FeaturedEvents{
                display: grid;
                grid-template-columns: repeat(7,1fr);
                gap: 15px;
            }
        }
        
    }
    #Container_JoinedEvents{
        
        .EventPerMonths{
            padding: 1.5em 0;
            border-top: 1px solid rgba(0, 0, 0, 0.11);
            position: relative;
            span{
                padding: 1em;
                background-color: var(--light2);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(0,-50%);
                font-weight: 500;
            }   
        }
        
    }
    #Container_ManageEvents{
        background-color: brown;
    }
} 