#CreateDocument{
    width: 100%;
    
    #Body{
        margin-top: 25px;
        #TabsNav{
            display: flex;
            gap: 26px;
            
        }
        #TabsView{
            #ListTools{
                display: flex;
                margin: 25px 0;
                gap: 20px;

                #SearchInputHolder{
                    flex-grow: 1;
                }
            }
            .TabView__Wrapper{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
                gap: 25px;
            }
            
        }
    }
    
}

#SelectDocumentDropdown{
    max-width: 500px;
    padding: 1em;
    #SelectDocumentDropdown__Title{
        margin-bottom: 15px;
    }
    #SelectDocumentDropdown__Chip{
        cursor: pointer;
    }
    #SelectDocumentDropdown__Chip{
        cursor: pointer;
    }
    input{
        display: none;
    }
}
.TabView__Title{
    margin-bottom: 15px;
}