.SearchInput{
    position: relative;
    .SearchInput__Container{
        display: flex;
        background-color: white;
        border-radius: 8px;
        box-shadow:  0 0 15px rgba(0, 0, 0, 0.03);
        border: 1px solid rgb(233, 233, 233);
        input{
            width: 250px;
            border: none;
            outline: none;
        }
    }
}
.SearchSuggested{
    position: absolute;
    top: 120%;
    z-index: 999999;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.137);
    padding: 1em .5em;
    border-radius: 8px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .SearchSuggested__SetterNavigation{
        padding: 0 .5em .3em;
        display: flex;
        gap: 10px;
        #active{
            background-color: var(--accent);
            color: white;
            border-color: white;
        }
    }
    hr{
        opacity: .5;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        li{
            border-radius: 8px;
            a{
                padding: .5em;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
        li:hover{
            background-color: rgb(228, 228, 228);
        }
    }
}