#Content{
    #AdminDasboard{
        display: grid;
        grid-template-columns: 1fr .3fr;
        gap: 25px;
        #Container_Event{
            background-color: red;
            
        }
        
        #AddEventBtn{
            padding: .49em 1em;
            background-color: var(--accent);
            font-weight: 700;
            color: white;
            text-decoration: none;
            border-radius: 10px;
        }
        .Container_Filer{
            height: 35px;
            margin-right: 15px;
            background-color: white;
            border-radius: 8px;
            float: right;
            padding: .5em .5em;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.144);
            img{
                height: 100%;
                cursor: pointer;
            }
            
        }
    } 
}

#Container_All_Events{
    h5{
        color: rgb(63, 62, 62);
        margin-bottom: 20px;
    }
    
    .Container_All_Overview{
        margin-bottom: 25px;
    }

}
.Wrapper_Eventcard{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px 10px;
}