#Content{
    #AdminDasboard{
        display: grid;
        grid-template-columns: 1fr .3fr;
        gap: 25px;
        #Container_Event{
            background-color: red;
            
        }
        
        #AddEventBtn{
            padding: .5em 1em;
            background-color: var(--accent);
            font-weight: 700;
            color: white;
            text-decoration: none;
            border-radius: 10px;
        }
    } 
}