#Profile {
	#Profile__Container_Div {
		background-color: white;
		padding: 1em 1em;
		border-radius: 8px;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.074);
		height: 130px;
		display: flex;
		gap: 25px;
		align-items: center;
		#Profile__Img {
            position: relative;
			// height: 95%;
            border-radius: 100px;
            overflow: hidden;
            border: 2.5px solid rgba(0, 0, 0, 0.234);
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                
                height: inherit;
            }
            #Profile__Img__Update{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.805);
                color: white;
                transition: opacity .3s ease-in-out;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                cursor: pointer;
            }
		}
        #Profile__Img:hover #Profile__Img__Update{
            opacity: 1;
        }
		#Profile__Div__Info__Container {
            flex-grow: 1;
			h3 {
				margin-bottom: 5px;
			}
			#User__Div_Info {
                align-items: center;
                display: flex;
				gap: 25px;
                margin-top: 5px;
				a {
                    display: flex;
                    gap: 10px;
                    align-items: center;
					text-decoration: none;
                    color: rgb(44, 44, 44);
                    img{
                        height: 25px;
                        width: 25px;
                    }
				}
                a:hover{
                    color:var(--accent)
                }
			}
		}
        #User__Div__Button{
            margin-right: 10px;
        }
    }
    
    #Main_Div{
        margin-top: 25px;
        display: flex;
        gap: 40px;
        height: 100%;
        #SideBar__Div{
            flex-basis: 350px;
            #sticky{
                position: sticky;
                top: 25px;
                
                #AboutMe__Div{
                    margin-bottom: 25px;
                }
            } 
        }
        #Content__Div{
            flex-grow: 1;
            
            section{
                margin-bottom: 25px;
            }
        }
        
        
    }
}
.Panel__MultipleContent{
    display: flex;
}
#Contact__Div{
    .Panel__Content__IconText{

    }
}