.EventCardContainer{
    background-color: white;
    border-radius: 10px;
    width: 242px;
    padding: .5em;
    opacity: .85;
    a{
        text-decoration: none;
    }
    img{
        width: 100%;
        border-radius: 5px;
    }
    div{
        .EventTitle{
            margin: 5px 0;
            color: black;
        }
        .Date{
            color: gray;
            font-weight: 700;
            margin-bottom: 9px;
        }
        .DateDue{
            color:red;
        }
        // .Container_Participants{
        //     display: flex;
        //     align-items: center;
        //     .Wrapper_Participants{
        //         margin-right: 4px;
        //         img{
        //             width: 25px;
        //             height: 25px;
        //             border-radius: 100px;
        //         }
        //         img:nth-child(1){
        //             transform: translateX(0px);
        //         }
        //         img:nth-child(2){
        //             transform: translateX(-12px);
        //         }
        //         img:nth-child(3){
        //             transform: translateX(-24px);
        //         }
        //     }
        //     p{
        //         transform: translateX(-22px);
        //         font-size: 11px;
        //         font-weight: 600;
        //         color: rgb(61, 61, 61);
        //     }
        // }
    }
}
.EventCardContainer:hover{
    opacity: 1;
}