$Width : 100vw;
$Maxwidth1 : 1920px;

// Color 




header{
    background-color: var(--dark1);
    position: sticky;
    top: 0;
    z-index: 25;
    #Wrapper_Header{
        max-width: $Maxwidth1;
        padding: 1em 2em;
        margin: auto;
        height: 80px;
        #Home_nav{
            img{
                height: 100%;
            }
        }
        nav{
            float: right;
            height: 100%;
            ul{
                list-style-type: none;
                margin: 0;
                height: 100%;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            li{
                display: inline;
                margin-left: 50px;
                font-style: none;
                font-size: 21px;
                a{

                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                }
                #GetStarted{
                    background-color: var(--accent);
                    padding: .4em .7em;
                    border-radius: 8px;
                }
            }
        }
    }
}