.certificate {
    height: 500px;
    width: 650px;
    }

.certificate img{
    height: 100%;
    width: 100%;
}
    
.main_body { 
    position: relative;
    height: 85%;
}

.main_body .user_fullname{
    position: relative;
    size: 100px;
    z-index: 1;
    text-align: center;
    top: -50%;
    color:darkcyan;
    font-size: 20px;
}

.main_body .event_title{
    position: relative;
    size: 100px;
    z-index: 1;
    text-align: center;
    top: -45%;
    color:darkcyan;
    font-size: 15px;
}

.footer { 
    position: relative;
    height: 15%;
}

.footer .qrcode_img{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 88%;
    height: 60px;
    width: 60px;s
}