$Width : 100vw;
$Maxwidth1 : 1920px;

#DashboardHolder{
    margin: auto;
    max-width: 1900px;
    height: 100vh;
    display: grid;
    grid-template-columns: 4% 96%;
    #Navigation{
        max-width:76px;
        min-width: 40px;
    }
}

#Holder_Content{
    background-color: var(--light2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 25px 1em 0;
    min-width: 1000px;
    
    #Content{
      padding-top: 40px;
      #Alert{
        margin-bottom: 40px;
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 25px;
            li{
                background-color: var(--accent);
                border-radius: 10px;
                display: grid;
                grid-template-columns: repeat(1fr); 
                color: white; 
                position: relative;
                a{
                    padding: .7em 1em;
                    color: white;    
                    text-decoration: none;
                      
                }
                .Close{
                    position: absolute;
                    cursor: pointer;
                    top: 50%;
                    right: 1em;
                    transform: translate(0,-50%);
                }
            }
        }
      }

      section{
        .SectionTitle{
            color: var(--accent);
        }
        
        // h4{
        //     position: relative;
        //     margin-bottom: 30px;
        // }
        // h4::after{
        //     content: "";
        //     margin-left: 15px;
        //     position: absolute;
        //     top: 50%;
        //     transform: translate(0,-50%);
        //     width: 35px;
        //     height: 5px;
        //     border-radius: 100px;
        //     background-color: black;
        // }
      } 
    }
}