$Width : 100vw;
$maxwdth : calc(1920px - 10%);

:root {
    // Color to set up "var(--accent)"
    --accent: #017CC9;
    --dark1: #203546; 
    --dark2: #11232F; 
    --light1: #4DA9DA; 
    --light2: #f6f9fa;   
}

*{
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    font-size: 56px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 27px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 16px;
}
p{
    line-height: 25px;
}
.BodyText1{
    font-size: 20px;
}
.BodyText2{
    font-size: 17px;
}
.BodyText3{
    font-size: 15px;
}

.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(500ms) ease;
}
.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(500ms) ease;
}

.Panel__Container{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.074);
    padding: 1em;
    .Panel__Title{
        margin-bottom: 10px;
    }
    .Panel__Content__IconText{
        display: flex;
        gap: 10px;
    }
    .Panel__MultipleContent{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
    }
}
.Wrapper__EventCard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
    gap: 15px 5px;
}
.Panel__Title{
    margin-bottom: 10px;
}