$Width : 100vw;
$maxwdth : calc(1920px - 10%);

  
:root {
    // Color to set up "var(--accent)"
    --accent: #017CC9;
    --dark1: #203546; 
    --dark2: #11232F; 
    --light1: #4DA9DA; 
    --light2: #f6f9fa;   
    font-size: 15px;
}

*{
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1{
    font-size: 56px;
}
h2{
    font-size: 45px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 27px;
}
h5{
    font-size: 21px;
}
h6{
    font-size: 16px;
}
p{
    line-height: 25px;
}
.BodyText1{
    font-size: 20px;
}
.BodyText2{
    font-size: 17px;
}
.BodyText3{
    font-size: 15px;
}

.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(500ms) ease;
}
.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(500ms) ease;
}

.Panel__Container{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.074);
    padding: 1em;
    .Panel__Title{
        margin-bottom: 10px;
    }
    .Panel__Content__IconText{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
    }
    .Panel__MultipleContent{
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
    }
}

a{
    text-decoration: none;
    color: black;
}
.Wrapper__Card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: start;
    list-style: none;
}
.EmtpyCard{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        text-align: center;
    }
    img{
        width: 90px;
    }
}

.Panel__Title{
    margin-bottom: 10px;
}


// SideBar Content
.AdminPanelContainer{
    display: flex;
    gap: 25px;
    .AdminPanelContainer__Content{
        flex-grow: 1;
    }
    .AdminPanelContainer__SideContent{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 400px;
    }
}


.AvatarGroupWithLabel{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Title__Div{
    margin-bottom: 35px;
}

select{
    cursor: pointer;
    color: #555;
    font-size: inherit;
    outline: none;
    border: none;
}
.SelectDesign{
    background-attachment: red;
}
.Mansory__List{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}

.grid {
    columns: 18rem;
    gap: 1rem;
    counter-reset: grid;
}


.item + .item {
    margin-top: 1rem;
}



#Content{
    #AdminDasboard{
        display: grid;
        grid-template-columns: 1fr .3fr;
        gap: 25px;
        #Container_Event{
            background-color: red;
            
        }
        
        #AddEventBtn{
            padding: .49em 1em;
            background-color: var(--accent);
            font-weight: 700;
            color: white;
            text-decoration: none;
            border-radius: 10px;
        }
        .Container_Filer{
            height: 35px;
            margin-right: 15px;
            background-color: white;
            border-radius: 8px;
            float: right;
            padding: .5em .5em;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.144);
            img{
                height: 100%;
                cursor: pointer;
            }
            
        }
    } 
}
.NavigationSidetoSide{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    .NavigationSidetoSide__Right__Container{
        flex-grow: 1;
        display: flex;
        gap: 15px;
        justify-content: end;
    }
}






// Template


.Container{
    display: flex;
    .Container__Content{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .Container__Title__Container{
            .Container__Title{
                color: var(--accent);
            }
            
            
        }
        .Stepper{
            display: flex;
            gap: 25px;
            .Stepper__Cut{
                height: 100%;
                width: 2px;
                background-color: rgb(131, 131, 131);
            }
        }
        .Container__Section{
            .Container__Navigation{
                display: flex;
                .Container__Navigation__left{
                    flex-grow: 1;
                }
                .Container__Navigation__Right{
                    display: flex;
                    gap: 25px;
                }
            }
        }
    }
    .Container__Sidepanel{
        width: 370px;
    }
}
