#DashboardPublic {
	margin: auto;
    max-width: 1900px;
    height: 100vh;
    grid-template-columns: 60px auto;
	display: flex;
	#Content {
		flex-grow: 1;
		padding: 1em;
		background-color: white;
	}
}
