#Container_CredentialTab{
    ul{
        margin-top: 10px;
        list-style: none;
        display: flex;
        gap: 15px;


        li{
            width: 304px;
            height: 134px;
            background-color: white;
            border-radius: 8px;
            padding: .5em;
            display: grid; 
            grid-template-columns: repeat(2,1fr);
            opacity: .85;
            svg{
                height: 80%;
            }
            div{
                text-align: right;
                position: relative;
            }
            button{
                text-decoration: none;
                border: none;
                background-color: gray;
                color: white;
                position: absolute;
                bottom: .2em;
                right: 0;
                padding: .3em .8em;
                border-radius: 15px;
                cursor: pointer;
            }
            .Selected{
                background-color: var(--accent);
            }
        }
        li:hover{
            opacity: 1;
        }
    }
}
